# Data files
data/raw/*.geojson
data/raw/*.csv
data/processed/adj_crime_dynamic_gaussian.npy
data/processed/X.npy
data/processed/adj_crime_dynamic_od.npy
data/processed/bike_*.npy
data/processed/taxi_*.npy
data/processed/dynamic_od_flow_1246.npy
data/processed/OD_data/*

# Model checkpoints